data/crytek-sponza/
data/dabrovic-sponza/
data/jakobi
data/megacity
data/mitsuba
data/imrod
data/sanmiguel

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build*/

_*.bat

# local config
.localconfig

# Qt project files
CMakeLists.txt.user


